<!-- Main Sidebar Container -->
<aside id="change-sidebar-color" class="main-sidebar sidebar-light-warning elevation-4">
  <!-- Brand Logo -->
  <a href="/" class="brand-link">
    <img src="/dist/img/font.jpg" alt="AdminLTE Logo" class="brand-image  elevation-3"
      style="opacity: .8">
    <span class="brand-text font-weight-light" style="padding-left:10px;">testio</span>
  </a>

  <!-- Sidebar -->
  <div class="sidebar">
    <!-- Sidebar user panel (optional) -->
    <div class="user-panel mt-3 pb-3 mb-3 d-flex"> 
      <div class="info">
        <a href="#" class="d-block">Hello, [[${#request.userPrincipal.principal.fullName}]].</a>
      </div>
    </div>

    <!-- SidebarSearch Form -->
    <div class="form-inline">
      <div class="input-group" data-widget="sidebar-search">
        <input class="form-control form-control-sidebar" type="search" placeholder="Search" aria-label="Search">
        <div class="input-group-append">
          <button class="btn btn-sidebar">
            <i class="fas fa-search fa-fw"></i>
          </button>
        </div>
      </div>
    </div>

    <!-- Sidebar Menu -->
    <nav class="mt-2">
      <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        <li class="nav-item">
          <a href="/" class="nav-link">
            <i class="nav-icon fas fa-tachometer-alt"></i>
            <p>Dashboard</p>
          </a>
        </li>
        <li class="nav-item">
          <a href="/test" class="nav-link">
            <i class="nav-icon fas fa-folder-open"></i>  
            <p>
              Test Cases 
            </p>
          </a>
        </li>
        
        <li class="nav-item">
          <a href="/participants" class="nav-link">
            <i class="nav-icon fas fa-user-friends"></i> 
            <p>
              Participants 
            </p>
          </a>
        </li>
        <li class="nav-header">MANAGE</li>
        <li class="nav-item"> 
          <a th:href="@{/setting/{id}(id=${userID})}"  class="nav-link">
            <i class="nav-icon fas fa-cog"></i>
            <p>Setting</p>
          </a>
        </li>
      </ul>
    </nav>
    <!-- /.sidebar-menu -->
  </div>
  <!-- /.sidebar -->
</aside>